nav {
  padding-left: 10px;
}

.gist-container {
  display: flex;
  flex-direction: column;
  padding: 5px 10px 10px 10px;
  margin: 0 auto 15px;
  max-width: 100%;
  width: 800px;
  background-color: #61dafb;
  border-radius: 10px;
}

.gist-description {
  padding-right: 15px;
}

.gist-top-left {
  display: flex;
  flex-direction: row;
}

.gist-top {
  display: flex;
  flex-direction: row;
}

.gist-top-right {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  padding-right: 15px;
}

.gist-top-right i {
  margin-left: 8px;
}

.gist-top-left h6,
h4 {
  padding-right: 10px;
}

.gist-bottom.highlighted .markdown {
  cursor: pointer;
  border: 1px solid transparent;
}

.gist-bottom.highlighted .markdown:hover {
  cursor: pointer;
  border: 1px solid yellow;
}

.gist-bottom.highlighted .language {
  cursor: pointer;
  border: 1px solid transparent;
}

.gist-bottom.highlighted .language:hover {
  cursor: pointer;
  border: 1px solid yellow;
}

.gist-bottom .markdown {
  background-color: #1a1c1d;
  border-radius: 5px;
  padding-left: 5px;
  padding-top: 5px;
}

.gist-bottom .language {
  border-radius: 5px;
}
